[Unit]
Description=PLC Service
After=network.target

[Service]
Type=simple
ExecStart=/etc/init.d/plc start
ExecStop=/etc/init.d/plc stop
ExecReload=/etc/init.d/plc reload
TimeoutSec=300

[Install]
WantedBy=multi-user.target
