[Unit]
Description=designed to be run on a daily basis, this notifies users when one of their slices will expire within 5 days

[Service]
ExecStart=/usr/bin/python3 /etc/support-scripts/renew-reminder.py
