[Unit]
Description=Runs renew-reminder.py on a daily basis

[Timer]
OnCalendar=*-*-* 08:30
Unit=renew-reminder.service

[Install]
WantedBy=multi-user.target
